# https://docs.docker.com/engine/reference/builder/#dockerignore-file
*
!src
!tests
**/bin
**/obj
!TicTacToeCSharpPlayground.sln
!scripts/build-production.sh
!scripts/start-web.sh
!scripts/start-consumer.sh
!appsettings.json
